<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./index.js"></script>
    <script type="module" src="./addItem.js"></script>
    <script type="module" src="./deleteItem.js"></script>
    <script type="module" src="./searchTable.js"></script>
    <link rel="stylesheet" href="./styles_dark.css">
    <title>Document</title>
</head>
<body>
    <!-- <section class="sidebar">
        <div class="sidebar-container">
            <img src="./images/search-icon.png" />
            <img id="addItemButton" src="./images/add-item-icon.png" /> needs to exist
        </div>
    </section> -->

    <div class="action-bars">
        <input class="searchbar" type="search" id="tableSearch" />
        <div id="addItemButton"><img src="./images/add-item-icon.png" alt="+"></div>
        <img src="./images/search-icon.png" alt="Search">
    </div>

    <div class="modalBackground" id="modalBackground">
        <div id="addItemModal" class="modal">
            
            <div class="submission-form">
                <span id="addItemCloseButton" class="close-button">&times</span>
                <div>
                    <label for="itemIdAdd">Item ID</label>
                    <input type="text" id="itemIdAdd">
                    <span class="hidden error-message" id="itemIdErrorAlreadyExists">An item with this ID already exists</span>
                    <span class="hidden error-message" id="itemIdErrorEmpty">Item ID cannot be blank</span>
                </div>

                <div>
                    <label for="nameAdd">Name</label>        
                    <input type="text" id="nameAdd">
                    <span class="hidden error-message" id="nameErrorEmpty">Name cannot be blank</span>
                </div>

                <div>
                    <label for="unitMeasurementAdd">Unit Measurement</label>        
                    <input type="text" id="unitMeasurementAdd">
                    <span class="hidden error-message" id="unitErrorEmpty">Unit Measurement cannot be blank</span>
                </div>

                <div>
                    <label for="quantityAdd">Quantity</label>        
                    <input type="number" id="quantityAdd" min="0">
                    <span class="hidden error-message" id="quantityErrorEmpty">Quantity cannot be blank</span>
                </div>
                <button type="button" id="addItemAjaxButton">Add Item</button>
            </div>
            
        </div>
    
        <div id="updateItemModal" class="modal">

            <div class="submission-form">
                <span id="updateItemCloseButton" class="close-button">&times</span>
                
                <div>
                    <label for="itemIdUpdate">Item ID</label>        
                    <input type="text" id="itemIdUpdate">
                    <span class="hidden error-message" id="itemIdErrorAlreadyExistsUpdate">Item ID cannot overwrite existing ID</span>
                    <span class="hidden error-message" id="itemIdErrorEmptyUpdate">Item ID cannot be blank</span>
                </div>

                <div>
                    <label for="nameUpdate">Name</label>        
                    <input type="text" id="nameUpdate">
                    <span class="hidden error-message" id="nameErrorEmptyUpdate">Name cannot be blank</span>
                </div>

                <div>
                    <label for="unitMeasurementUpdate">Unit Measurement</label>        
                    <input type="text" id="unitMeasurementUpdate">
                    <span class="hidden error-message" id="unitErrorEmptyUpdate">Unit Measurement cannot be blank</span>
                </div>

                <div>
                    <label for="quantityUpdate">Quantity</label>        
                    <div class="quantity">
                        <input type="number" id="quantityUpdate" min="0">
                        <button class="change-quantity-button" type="button" id="updateQuantityOnlyAdd">+</button>
                        <button class="change-quantity-button" type="button" id="updateQuantityOnlySub">-</button>
                    </div>
                    <span class="hidden error-message" id="quantityErrorEmptyUpdate">Quantity cannot be blank</span>
                </div>

                <div class="update-item-button-container">
                    <button type="button" id="updateItemAjaxButton">Update Item</button>
                    <button type="button" id="deleteItemConfirmButton">Delete Item</button>
                    <span class="hidden error-message" id="confirmDeleteMessage">Click delete again to confirm</span>
                </div>
            </div>

        </div>
    </div>
    <!-- <button id="addItemButton">Add Item</button> -->
    <!--<table class="inventory-table">
        <thead>
            <tr>
                <th>Item Id</th>
                <th>Name</th>
                <th>Unit Measurement</th>
                <th>Quantity</th>
            </tr>
        </thead>
    </table>
    <div class="tbl-content"></div>-->
    <div class="inventory" data-inventory-container></div>
    <template data-item-template>
        <div class="inventory-item">
            <div class="image-container"><img data-img></div>
            <div class="data-container">
                <div data-itemId>Item ID: </div>
                <div data-name>Name: </div>
                <div data-unitMeasurement>Unit Measurement: </div>
                <div data-quantity>Quantity: </div>
            </div>
        </div>
    </template>
</body>
</html>