<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./index.js"></script>
    <script type="module" src="./addItem.js"></script>
    <script type="module" src="./deleteItem.js"></script>
    <link rel="stylesheet" href="./styles_dark.css">
    <title>Document</title>
</head>
<body>
    <div class="modalBackground" id="modalBackground">
    <div id="addItemModal" class="submission-form modal">
        <span id="addItemCloseButton" class="close-button">&times</span>
  
        <label for="itemIdAdd">Item ID</label>        
        <input type="text" id="itemIdAdd">
        <span class="hidden error-message" id="itemIdErrorAlreadyExists">An item with this ID already exists</span>
        <span class="hidden error-message" id="itemIdErrorEmpty">Item ID cannot be blank</span>
        
        <label for="nameAdd">Name</label>        
        <input type="text" id="nameAdd">
        <span class="hidden error-message" id="nameErrorEmpty">Name cannot be blank</span>
        
        <label for="unitMeasurementAdd">Unit Measurement</label>        
        <input type="text" id="unitMeasurementAdd">
        <span class="hidden error-message" id="unitErrorEmpty">Unit Measurement cannot be blank</span>
        
        <label for="quantityAdd">Quantity</label>        
        <input type="number" id="quantityAdd" min="0">
        <span class="hidden error-message" id="quantityErrorEmpty">Quantity cannot be blank</span>
        
        <button type="button" id="addItemAjaxButton">Add Item</button>
    </div>

    <div id="updateItemModal" class="submission-form modal">
        <span id="updateItemCloseButton" class="close-button">&times</span>
  
        <label for="itemIdUpdate">Item ID</label>        
        <input type="text" id="itemIdUpdate">
        <span class="hidden error-message" id="itemIdErrorAlreadyExistsUpdate">Item ID cannot overwrite existing ID</span>
        <span class="hidden error-message" id="itemIdErrorEmptyUpdate">Item ID cannot be blank</span>
        
        <label for="nameUpdate">Name</label>        
        <input type="text" id="nameUpdate">
        <span class="hidden error-message" id="nameErrorEmptyUpdate">Name cannot be blank</span>
        
        <label for="unitMeasurementUpdate">Unit Measurement</label>        
        <input type="text" id="unitMeasurementUpdate">
        <span class="hidden error-message" id="unitErrorEmptyUpdate">Unit Measurement cannot be blank</span>
        
        <label for="quantityUpdate">Quantity</label>        
        <div class="quantity">
            <input type="number" id="quantityUpdate" min="0">
                <button type="button">+</button>
                <button type="button">-</button>
        </div>
        <span class="hidden error-message" id="quantityErrorEmptyUpdate">Quantity cannot be blank</span>
        
        <button type="button" id="updateItemAjaxButton">Update Item</button>
        <button type="button" id="deleteItemConfirmButton">Delete Item</button>
        <span class="hidden error-message" id="confirmDeleteMessage">Click delete again to confirm</span>
    </div>
    </div>

    <button id="addItemButton">Add Item</button>
    <table class="inventory-table">
        <thead>
            <tr>
                <th>Item Id</th>
                <th>Name</th>
                <th>Unit Measurement</th>
                <th>Quantity</th>
            </tr>
        </thead>
    </table>
    <div class="tbl-content"></div>
</body>
</html>